<header class="header">
    <a href="" class="logo">ShopEase</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
    <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
        <li><a routerLink="/aboutus" routerLinkActive="active">About Us</a></li>
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
</header>
