// config
$color_black: #000;
$font-family_helveticahelvetica: Helvetica, sans-serif;
$background-color_f4: #f4f4f4;
$border-color_f4: #f4f4f4;
$background-color_white: #fff;

// breakpoints
$mobile-cutoff: 749px;
$desktop-cutoff: 999px;